html {
    font-size: 10px; /* px 意为“像素（pixels）”: 这个基础字体的尺寸现在是10像素  */
    font-family: 'Pangolin', cursive;
    background-color: #343350;
}

body {
    margin: 100 auto;
    /* background-color: #BFBF3F; */
    padding: 20px 20px 20px 20px;
    /* border: 5px solid black; */
}

h2 {
    font-size: 24px;
    text-align: center;
    margin: 0;
    padding: 20px 0;    
    color: #3F7FBF;
    /* text-shadow: 3px 3px 5px black; */
}

h3 {
    font-size: 20px;
    text-align: center;
    margin: 0;
    padding: 20px 0;    
    color: #3F7FBF;
    /* text-shadow: 3px 3px 2px black; */
}

p, li {
    font-size: 16px;    
    line-height: 2;
    letter-spacing: 1px;
    color: #CCCCCC;
}

a {
    color: #B8B6F1;
}

#codeImage, #swingImage{
    display: block;
    width: 600px;
    margin: 0 auto;
}